body {

}

.buttonContainer {
  margin-left: 48%;
}

.container {
  outline: 1px solid grey;
  margin: 0 auto;
  background-color: white;
  height: 800px;
  width: 800px;
  overflow: auto;
}

.block {
  border-radius: 50%;
  overflow: hidden;
  float: left;
  display: inline-block;
  background-color: white;
}

.clear {

}

.change {

}
